<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.mybatis.CodeRepoMapper">  

	<insert id="saveCodeRepo" parameterType="com.crm.domain.CodeRepo" >
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			select replace(UUID(), "-", "")
		</selectKey>
			insert into coderepo(<trim suffixOverrides=",">
			<if test="id !=null and id !=''">id,</if>
            <if test="scanner !=null and scanner !=''">scanner,</if>
            <if test="scannerName !=null and scannerName !=''">scannerName,</if>
            <if test="flagCode !=null and flagCode !=''">flagCode,</if>
            <if test="scanBatch !=null and scanBatch !=''">scanBatch,</if>
            <if test="longitude !=null and longitude !=''">longitude,</if>
            <if test="latitude !=null and latitude !=''">latitude,</if>
            <if test="scanTime !=null and scanTime !=''">scanTime,</if>
            <if test="publicCode !=null and publicCode !=''">publicCode,</if>
            <if test="privateCode !=null and privateCode !=''">privateCode,</if>
            <if test="insideCode !=null and insideCode !=''">insideCode,</if>
            <if test="awardId !=null and awardId !=''">awardId,</if>
            <if test="waresId !=null and waresId !=''">waresId</if>
            </trim>)values(<trim suffixOverrides=",">
            <if test="id !=null and id !=''">#{id},</if>
            <if test="scanner !=null and scanner !=''">#{scanner},</if>
            <if test="scannerName !=null and scannerName !=''">#{scannerName},</if>
            <if test="flagCode !=null and flagCode !=''">#{flagCode},</if>
            <if test="scanBatch !=null and scanBatch !=''">#{scanBatch},</if>
            <if test="longitude !=null and longitude !=''">#{longitude},</if>
            <if test="latitude !=null and latitude !=''">#{latitude},</if>
            <if test="scanTime !=null and scanTime !=''">#{scanTime},</if>
            <if test="publicCode !=null and publicCode !=''">#{publicCode},</if>
            <if test="privateCode !=null and privateCode !=''">#{privateCode},</if>
            <if test="insideCode !=null and insideCode !=''">#{insideCode},</if>
            <if test="awardId !=null and awardId !=''">#{awardId},</if>
            <if test="waresId !=null and waresId !=''">#{waresId}</if>
            </trim>)
	</insert> 
	
	<delete id="deleteCodeRepo" parameterType="String">
		delete from coderepo where id=#{id}
	</delete>
	
	<update id="updateCodeRepo" parameterType="com.crm.domain.CodeRepo">
    	update coderepo
    	<set>
            <if test="scanner !=null and scanner !=''">scanner=#{scanner},</if>
            <if test="scannerName !=null and scannerName !=''">scannerName=#{scannerName},</if>
            <if test="flagCode !=null and flagCode !=''">flagCode=#{flagCode},</if>
            <if test="scanBatch !=null and scanBatch !=''">scanBatch=#{scanBatch},</if>
            <if test="longitude !=null and longitude !=''">longitude=#{longitude},</if>
            <if test="latitude !=null and latitude !=''">latitude=#{latitude},</if>
            <if test="scanTime !=null and scanTime !=''">scanTime=#{scanTime},</if>
            <if test="publicCode !=null and publicCode !=''">publicCode=#{publicCode},</if>
            <if test="privateCode !=null and privateCode !=''">privateCode=#{privateCode},</if>
            <if test="insideCode !=null and insideCode !=''">insideCode=#{insideCode},</if>
            <if test="awardId !=null and awardId !=''">awardId=#{awardId},</if>
            <if test="waresId !=null and waresId !=''">waresId=#{waresId}</if>
    	</set>
    	where id = #{id}
    </update>

	<select id="getCodeRepoList" resultType="com.crm.domain.CodeRepo">
		select t.id,t.scanner,t.scannerName,t.flagCode,t.scanBatch,t.longitude,t.latitude,t.scanTime,t.publicCode,t.privateCode,t.insideCode,t.awardId from coderepo t where 1=1
		<if test="conditionSql !=null and conditionSql !=''">
			${conditionSql}
		</if>
		<if test="page.sort != null and page.sort != ''">
            order by #{page.sort} #{page.order}
        </if>
        <if test="page.page > 0">
            limit #{page.start},#{page.end}
        </if>
	</select>
	
	<select id="findByWaresId" resultType="com.crm.domain.CodeRepo">
		select t.id,t.scanner,t.scannerName,t.flagCode,t.scanBatch,t.longitude,t.latitude,t.scanTime,t.waresId,t.publicCode,t.privateCode,t.insideCode,t.awardId from coderepo t where 1=1
		<if test="waresId !=null and waresId !=''">
			and t.waresId = #{waresId}
		</if>
	</select>
	
	<select id="findByCondition" resultType="com.crm.domain.CodeRepo">
		select t.id,t.scanner,t.scannerName,t.flagCode,t.scanBatch,t.longitude,t.latitude,t.scanTime,t.waresId,t.publicCode,t.privateCode,t.insideCode,t.awardId from coderepo t where 1=1
		<if test="conditionSql !=null and conditionSql !=''">${conditionSql}</if>
	</select>
	
	<select id="findByUser" parameterType="com.crm.domain.User" resultType="com.crm.domain.CodeRepo">
		<!-- select t.id,t.accountId,t.exchangeTime,t.innerCode,t.outerCode from coderepo t where 1=1
		where t.publisherId = u.id and u.id = #{id} -->
		select distinct t.id,t.scanner,t.scannerName,t.flagCode,t.scanBatch,t.longitude,t.latitude,t.scanTime,t.publicCode,t.privateCode,t.insideCode,t.awardId from coderepo t, sysuser u 
		where (t.scanner = u.id and u.id = #{id}) or (t.scannerName like concat('%',#{username},'%'))
	</select> 
	
	<select id="findById" resultType="com.crm.domain.CodeRepo" >
		select t.id,t.scanner,t.scannerName,t.flagCode,t.scanBatch,t.longitude,t.latitude,t.scanTime,t.publicCode,t.privateCode,t.insideCode,t.awardId from coderepo t
		where t.id = #{id}
	</select>
	
	<select id="getDatagridTotal" resultType="long">
		select count(1) from coderepo where  1=1
		<if test="scannerName != null and scannerName != ''">
            and scannerName like concat('%',#{scannerName},'%')
        </if>
        <if test="scanner != null and scanner != ''">
            and scanner = #{scanner}
        </if>
	</select>

	<select id="datagridCodeRope" resultType="com.crm.domain.CodeRepo">
		select t.id,t.scanner,t.scannerName,t.flagCode,t.scanBatch,t.longitude,t.latitude,t.scanTime,t.publicCode,t.privateCode,t.insideCode,t.awardId from coderepo t where 1=1
		<if test="coderepo.scanner != null and coderepo.scanner != ''">
			and t.scanner = #{coderepo.scanner}
		</if>
		<if test="coderepo.scannerName != null and coderepo.scannerName != ''">
			and t.scannerName like concat('%',#{coderepo.scannerName},'%')
		</if>
		<if test="coderepo.scannTime != null and coderepo.scanTime != ''">
        	and date(t.scanTime) = #{coderepo.scanTime} 
        </if>
		<if test="page.sort != null and page.sort != ''">
            order by #{page.sort} #{page.order}
        </if>
        <if test="page.page > 0">
            limit #{page.start},#{page.end}
        </if>
	</select>
    
</mapper>
