<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.mybatis.UserMapper"> 

	<resultMap type="com.crm.domain.User" id="userMap">
		<id property="id" column="u_id" />
		<result property="username" column="u_username" />
		<result property="userType" column="u_userType" />
		<result property="password" column="u_password" />
		<result property="email" column="u_email" />
		<result property="idcard" column="u_idcard" />
		<result property="qq" column="u_qq" />
		<result property="weixin" column="u_weixin" />
		<result property="regTime" column="u_regTime" />
		<result property="loginTime" column="u_loginTime" />
		<result property="userAlias" column="u_userAlias" />
		<result property="lastLoginTime" column="u_lastLoginTime" />
		<result property="roleName" column="r_name" />
		<result property="creatorName" column="r_creatorName" />
		<result property="locked" column="u_locked" />
		<result property="address" column="u_address" />
		<result property="telephone" column="u_telephone" />
		<result property="loginFrequency" column="u_loginFrequency" />
		<result property="merchant" column="u_merchant" />
		<result property="flagCode" column="u_flagCode" />
		
		<association property="role" resultMap="roleMap" />
	</resultMap>
	
	<resultMap type="com.crm.domain.Role" id="roleMap" >
		<id property="id" column="r_id" />
		<result property="name" column="r_name" />
		<result property="roleDesc" column="r_roleDesc" />
	</resultMap>
   
	<select id="login" resultMap="userMap">
		select u.id u_id, u.password u_password, u.username u_username, u.userType u_userType, u.email u_email, u.idcard u_idcard,
		u.qq u_qq, u.weixin u_weixin, u.regTime u_regTime, u.loginTime u_loginTime, u.userAlias u_userAlias,
		u.telephone u_telephone, u.address u_address, u.merchant u_merchant, u.loginFrequency u_loginFrequency,
		u.locked u_locked, u.lastLoginTime u_lastLoginTime, u.flagCode u_flagCode, r.id r_id, r.name r_name, 
		u.points, u.noUsePoints,
		r.roleDesc r_roleDesc
		from sysuser u left join sysrole r on u.userType = r.id where u.username = #{username} 
		and u.userType = #{userType}
	</select>
	
	<select id="findByConditionSql" resultType="com.crm.domain.User">
		select id, username, password, userType, email, idcard, gender, qq, weixin, regTime, userType,
		 generateName, loginTime, userAlias, lastLoginTime, creatorName, locked,
		 telephone, address, merchant, flagCode, loginFrequency, thirdType, thirdOpenid,
		 points, noUsePoints, points-noUsePoints as usePoints
		 from sysuser where 1=1
		<if test="conditionSql != null and conditionSql != ''">
			${conditionSql}
		</if>
	</select>
	
	<select id="findByPhone" resultType="com.crm.domain.User">
		select id, username, userType, email, idcard, gender, qq, weixin, regTime,
		loginTime, lastLoginTime, creatorName, locked, wxOpenId, telephone, merchant, points,
		noUsePoints,  points-noUsePoints as usePoints
		from sysuser where userType = "3" and telephone = #{phone} limit 1
	</select>
	
	<select id="findByOpenId" resultType="com.crm.domain.User">
		select id, username, userType, email, idcard, gender, qq, weixin, regTime,
		loginTime, lastLoginTime, creatorName, locked, wxOpenId, telephone, merchant, points,
		noUsePoints, points-noUsePoints as usePoints
		from sysuser where userType = "3" and wxOpenId = #{openId} limit 1
	</select>
	
	<select id="getUserById" resultType="com.crm.domain.User">
		select id, username, userType, email, idcard, gender, qq, weixin, regTime
		 generateName, loginTime, userAlias, lastLoginTime, creatorName, locked, wxOpenId, telephone,
		 merchant, loginFrequency, address, flagCode, points, noUsePoints, points-noUsePoints as usePoints
		 from sysuser where id = #{id} 
	</select>
	
	<select id="getMenuByUserId" resultType="com.crm.domain.SysMenu">
		SELECT m.id, m.name, m.parentid, m.sequence, m.iconCls, m.url, m.priority, m.type, m.permission, 
		m.iconClz, m.orderNum,
			(select count(1) from sysmenu s where s.parentId!=0 and s.parentId=m.id) countChildrens 
		FROM sysmenu m
		  LEFT JOIN role_menu rm
		  ON m.id = rm.menu_id
		  LEFT JOIN sysrole r
		  ON rm.role_id = r.id
		  LEFT JOIN user_role ur
		  ON  r.id = ur.roleId
		  LEFT JOIN sysuser u
		  ON ur.userId = u.id
		  WHERE m.enable=1 AND u.id = #{userId} 
		  AND m.id NOT IN(
			SELECT tt.id
			FROM
				(SELECT m.id,
					(SELECT COUNT(parentId) FROM sysmenu sp WHERE sp.enable=1 AND sp.parentId=m.id AND m.parentId=0 ) countch
				 FROM sysmenu m WHERE m.parentId=0
		  		) tt 
		  	where countch =0
		  )
		  ORDER BY m.parentid
	</select> 
	
	<select id="getDatagridTotal" resultType="int">
		select 
			count(1) 
		from sysuser u,systemdef t where u.sysid=t.id 
		<if test="csysid != null and csysid != ''">
            and (u.sysid=t.id or u.sysid=t.parentid or u.sysid=t.ptopid) 
            and (t.id = #{csysid} or t.parentid = #{csysid} or t.ptopid = #{csysid})
        </if>
        <if test="user.username != null and user.username != ''">
            and username like concat('%',#{user.username},'%')
        </if>
	</select>

	<select id="datagridUser" resultType="com.crm.domain.User">
		select 
			u.id,u.username,u.password,u.email,u.gender,u.qq,u.weixin,u.regTime,u.idcard,u.locked
			t.name sysname,
  			(select name from systemdef psys where psys.id=t.ptopid) psysname 
		from sysuser u,systemdef t where u.sysid=t.id 
		<if test="csysid != null and csysid != ''">
			and (u.sysid=t.id or u.sysid=t.parentid or u.sysid=t.ptopid) 
            and (t.id = #{csysid} or t.parentid = #{csysid} or t.ptopid = #{csysid})
        </if>
		<if test="page.sort != null and page.sort != ''">
            order by #{page.sort} #{page.order}
        </if>
        <if test="page.page > 0">
            limit #{page.start},#{page.end}
        </if>
	</select>
	
	<select id="userPagesTotal" resultType="int">
		select count(1) from sysuser u where 1=1
		<if test="conditionSql != null and conditionSql != ''">
			${conditionSql}
        </if>
	</select>
	
	<select id="userPages" resultMap="userMap">
		select u.id u_id, u.username u_username, u.email u_email, u.gender u_gender, u.qq u_qq, u.userAlias u_userAlias, u.locked u_locked,
		u.weixin u_weixin, u.regTime u_regtime, u.idcard u_idcard, u.creatorName u_creatorName,
		u.telephone u_telephone, u.address u_address, u.merchant u_merchant, u.loginFrequency u_loginFrequency, u.flagCode u_flagCode,
		r.id r_id, r.name r_name, r.roleDesc r_roleDesc
		from sysuser u left join sysrole r on u.userType = r.id where 1=1 
		<if test="conditionSql != null and conditionSql != ''">
			${conditionSql}
        </if>
		<if test="page.sort != null and page.sort != ''">
            order by #{page.sort} #{page.order}
        </if>
        <if test="page.page > 0">
            limit #{page.start},#{page.end}
        </if>
	</select>
	
	<insert id="addUser" parameterType="com.crm.domain.User" >
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			select replace(UUID(), "-", "")
		</selectKey>
			insert into sysuser(<trim suffixOverrides=",">
			<if test="id !=null and id !=''">id,</if>
            <if test="username !=null and username !=''">username,</if>
            <if test="password !=null and password !=''">password,</if>
            <if test="idcard !=null and idcard !=''">idcard,</if>
            <if test="email !=null and email !=''">email,</if>
            <if test="gender !=null and gender !=''">gender,</if>
            <if test="qq !=null and qq !=''">qq,</if>
            <if test="weixin !=null and weixin !=''">weixin,</if>
            <if test="regTime !=null and regTime !=''">regTime,</if>
            <if test="userType !=null and userType !=''">userType,</if>
            <if test="generateName !=null and generateName !=''">generateName,</if>
            <if test="userAlias != null and userAlias != ''">userAlias,</if>
            <if test="creatorId != null and creatorId != ''">creatorId,</if>
            <if test="creatorName != null and creatorName != ''">creatorName,</if>
            <if test="locked != null">locked,</if>
            <if test="loginFrequency != null and loginFrequency !=''">loginFrequency,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="telephone != null and telephone != ''">telephone,</if>
            <if test="merchant != null and merchant != ''">merchant,</if>
            <if test="thirdType != null and thirdType != ''">thirdType,</if>
            <if test="thirdOpenid != null and thirdOpenid != ''">thirdOpenid,</if>
            <if test="flagCode != null and flagCode != ''">flagCode,</if>
            <if test="wxOpenId != null and wxOpenId != ''">wxOpenId,</if>
            points, noUsePoints
            </trim>)values(<trim suffixOverrides=",">
            <if test="id !=null and id !=''">#{id},</if>
            <if test="username !=null and username !=''">#{username},</if>
            <if test="password !=null and password !=''">#{password},</if>
            <if test="idcard !=null and idcard !=''">#{idcard},</if>
            <if test="email !=null and email !=''">#{email},</if>
            <if test="gender !=null and gender !=''">#{gender},</if>
            <if test="qq !=null and qq !=''">#{qq},</if>
            <if test="weixin !=null and weixin !=''">#{weixin},</if>
            <if test="regTime !=null and regTime !=''">#{regTime},</if>
            <if test="userType !=null and userType !=''">#{userType},</if>
            <if test="generateName !=null and generateName !=''">#{generateName},</if>
            <if test="userAlias != null and userAlias != ''">#{userAlias},</if>
            <if test="creatorId != null and creatorId != ''">#{creatorId},</if>
            <if test="creatorName != null and creatorName != ''">#{creatorName},</if>
            <if test="locked !=null ">#{locked},</if>
            <if test="loginFrequency != null and loginFrequency !=''">#{loginFrequency},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="telephone != null and telephone != ''">#{telephone},</if>
            <if test="merchant != null and merchant != ''">#{merchant}</if>
            <if test="thirdType != null and thirdType != ''">#{thirdType},</if>
            <if test="thirdOpenid != null and thirdOpenid != ''">#{thirdOpenid},</if>
            <if test="flagCode != null and flagCode != ''">#{flagCode},</if>
            <if test="wxOpenId != null and wxOpenId != ''">#{wxOpenId},</if>
            #{points}, #{noUsePoints}
            </trim>)
	</insert>
	
    <update id="editUser" parameterType="com.crm.domain.User" >
    	update sysuser
    	<set>
    		<if test="username !=null and username !=''">username =#{username},</if>
            <if test="password !=null and password !=''">password =#{password},</if>
            <if test="idcard !=null and idcard !=''">idcard=#{idcard},</if>
            <if test="email !=null and email !=''">email=#{email},</if>
            <if test="gender !=null and gender !=''">gender=#{gender},</if>
            <if test="qq !=null and qq !=''">qq=#{qq},</if>
            <if test="weixin !=null and weixin !=''">weixin=#{weixin},</if>
            <if test="regTime !=null and regTime !=''">regTime=#{regTime},</if>
            <if test="userType !=null and userType !=''">userType=#{userType},</if>
            <if test="generateName !=null and generateName !=''">generateName=#{generateName},</if>
            <if test="userAlias != null and userAlias != ''">userAlias=#{userAlias},</if>
            <if test="creatorId != null and creatorId != ''">creatorId=#{creatorId},</if>
            <if test="creatorName != null and creatorName != ''">creatorName=#{creatorName},</if>
            <if test="creatorName != null and creatorName != ''">creatorName=#{creatorName},</if>
            <if test="loginTime != null and loginTime != ''">loginTime=#{loginTime},</if>
            <if test="lastLoginTime != null and lastLoginTime != ''">lastLoginTime=#{lastLoginTime},</if>
            <if test="locked !=null">locked=#{locked},</if>
            <if test="loginFrequency != null and loginFrequency !=''">loginFrequency=#{loginFrequency},</if>
            <if test="address != null and address != ''">address=#{address},</if>
            <if test="telephone != null and telephone != ''">telephone=#{telephone},</if>
            <if test="merchant != null and merchant != ''">merchant=#{merchant},</if>
            <if test="flagCode != null and flagCode != ''">flagCode=#{flagCode},</if>
            <if test="wxOpenId != null and wxOpenId != ''">wxOpenId=#{wxOpenId},</if>
            points=#{points}, noUsePoints=#{noUsePoints}
    	</set>
    	where id = #{id}
    </update>
    
    <delete id="deleteUser" parameterType="String">
		delete from sysuser where 1=1
		<if test="ids !=null and ids !=''">
			and id in ${ids}
		</if>
	</delete>
	
</mapper>
