<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.mybatis.WaresMapper">   

	<insert id="addWares" parameterType="com.crm.domain.Wares" keyProperty="id">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			select replace(UUID(), "-", "")
		</selectKey>
			insert into wares(<trim suffixOverrides=",">
			<if test="id !=null and id !=''">id,</if>
            <if test="name !=null and name !=''">name,</if>
            <if test="creater !=null and creater !=''">creater,</if>
            <if test="publicCode !=null and publicCode !=''">publicCode,</if>
            <if test="privateCode !=null and privateCode !=''">privateCode,</if>
            <if test="insideCode !=null and insideCode !=''">insideCode,</if>
            <if test="createTime !=null and createTime !=''">createTime,</if>
            <if test="status !=null and status !=''">status,</if>
            <if test="awardId !=null and awardId !=''">awardId</if>
            </trim>)values(<trim suffixOverrides=",">
            <if test="id !=null and id !=''">#{id},</if>
            <if test="name !=null and name !=''">#{name},</if>
            <if test="creater !=null and creater !=''">#{creater},</if>
            <if test="publicCode !=null and publicCode !=''">#{publicCode},</if>
            <if test="privateCode !=null and privateCode !=''">#{privateCode},</if>
            <if test="insideCode !=null and insideCode !=''">#{insideCode},</if>
            <if test="createTime !=null and createTime !=''">#{createTime},</if>
            <if test="status !=null and status !=''">#{status},</if>
            <if test="awardId !=null and awardId !=''">#{awardId}</if>
            </trim>)
	</insert>
	
	<delete id="deleteWares" parameterType="String">
		delete from wares where id=#{id}
	</delete>
	
	<delete id="deleteByCondition" parameterType="String">
		delete from wares where 1=1 and ${conditionSql}
	</delete>
	
	<update id="updateWares">
    	update wares
    	<set>
            <if test="name !=null and name !=''">name=#{name},</if>
            <if test="creater !=null and creater !=''">creater=#{creater},</if>
            <if test="publicCode !=null and publicCode !=''">publicCode=#{publicCode},</if>
            <if test="privateCode !=null and privateCode !=''">privateCode=#{privateCode},</if>
            <if test="insideCode !=null and insideCode !=''">insideCode=#{insideCode},</if>
            <if test="createTime !=null and createTime !=''">createTime=#{createTime},</if>
            <if test="status !=null and status !=''">status=#{status},</if>
            <if test="awardId !=null and awardId !=''">awardId=#{awardId}</if>
    	</set>
    	where id = #{id}
    </update>
	
	<select id="findById" resultType="com.crm.domain.Wares">
		select t.id,t.name,t.creater,t.publicCode,t.privateCode,t.insideCode,t.createTime,t.status,t.awardId from wares t where t.id=#{id}
	</select> 
	
	<select id="getDatagrid" parameterType="String" resultType="com.crm.domain.Wares">
		select t.id,t.name,t.creater,t.publicCode,t.privateCode,t.insideCode,t.createTime,t.status,t.awardId from wares t where 1=1 
		<if test="conditionSql != null and conditionSql != ''">
            ${conditionSql}
        </if>
	</select>
	
	<select id="getDatagridTotal" resultType="int">
		select count(1) from wares where  1=1
		<if test="name != null and name != ''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="publicCode != null and publicCode != ''">
            and publicCode = #{publicCode}
        </if>
        <if test="privateCode != null and privateCode != ''">
            and privateCode = #{privateCode}
        </if>
	</select>
	
	<select id="datagridWares" resultType="com.crm.domain.Wares">
		select t.id,t.name,t.creater,t.publicCode,t.privateCode,t.insideCode,t.createTime,t.status,t.awardId from wares t where 1=1
		<if test="wares.name != null and wares.name != ''">
			and t.name like concat('%',#{wares.name},'%')
		</if>
		<if test="wares.creater != null and wares.creater != ''">
			and t.creater = #{wares.creater}
		</if>
		<if test="wares.awardId != null and wares.awardId != ''">
			and t.awardId = #{wares.awardId}
		</if>
		<if test="page.sort != null and page.sort != ''">
            order by #{page.sort} #{page.order}
        </if>
        <if test="page.page > 0">
            limit #{page.start},#{page.end}
        </if>
	</select>
	
	<select id="datagridWaresByCondition" resultType="com.crm.domain.Wares">
		select t.id,t.name,t.creater,t.publicCode,t.privateCode,t.insideCode,t.createTime,t.status,t.awardId from wares t where 1=1
		<if test="conditionSql != null and conditionSql != ''">
			${conditionSql}
		</if>
		<if test="page.sort != null and page.sort != ''">
            order by #{page.sort} #{page.order}
        </if>
        <if test="page.page > 0">
            limit #{page.start},#{page.end}
        </if>
	</select>
	
	<insert id="addWaresBatch" parameterType="java.util.List" >
		<!-- <selectKey keyProperty="id" resultType="String" order="BEFORE">
			select replace(UUID(), "-", "")
		</selectKey> -->
		insert into wares(id, creater, publicCode, privateCode, insideCode, status, createTime, awardId)
		values
		<foreach collection="waresList" item="wares" index="index" separator=",">
			(#{wares.id}, #{wares.creater}, #{wares.publicCode}, #{wares.privateCode}, #{wares.insideCode}, 
			#{wares.status}, #{wares.createTime}, #{wares.awardId})
		</foreach>
	</insert>
</mapper>
